@model EraFeira.Models.Est_estoque

@{
/**/

ViewBag.Title = "Create";
Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Movimentação</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="dropdown text-center">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Escolha
        </button>
        <div class="dropdown-menu text-center" aria-labelledby="dropdownMenuButton">
            @Html.ActionLink("Entrada", "Entrada", "Est_estoques", new { area = "" }, new { @class = "dropdown-item adm-link" })
            @Html.ActionLink("Saída", "Saida", "Est_estoques", new { area = "" }, new { @class = "dropdown-item adm-link" })
            @Html.ActionLink("Estoque", "Estoque", "Est_estoques", new { area = "" }, new { @class = "dropdown-item adm-link" })
        </div>
    </div>


}

