@model EraFeira.Models.Est_estoque

@{
    /**/

    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Estoque</h2>

@*id, descrição do produto e a quantidade no estoque*@

<div>
        <table>
            <tr>
                <th>Produto</th>
                <th>Estoque</th>
            </tr>
        </table>

        @foreach (var prod in Model)
        {
            <table>
                <tr class="id-est" id="id_@prod.Pro_id" prodID="@prod.Pro_id">@prod.Pro_descricao</tr>
                <tr id="qtd_@prod.Pro_quantidade_saida"></tr>
                <tr id="est_@prod.Pro_quanidade_entrada"></tr>
            </table>
        }
    </div>

<script>

        function Concatenar() {
            var total = 0;
            //var x = $("qtd-ent");
            const y = document.querySelectorAll('.des-ent');
            const x = document.querySelectorAll('.qtd-ent');
            var n = y.localeCompare(x);

            //if (var i = 0; i <= x.length; i++) {

            //    var qtd = x[i];
            //}else {
            //    return '';
            //}

            $.each(tabela, function (item) {
                var n = $(item).text();

                for (var i = 0; i < y.length; i++) {
                    if (tabela.localeCompare(y){
                        var qtd = y[i];

                    }

                }
            });

        }

        function Debitar() {
            var valor = 0;
            const y = document.querySelectorAll('.id-est');
            const x = document.querySelectorAll('.qtd-est');

            var idH = "#id_" + $(this).attr("prodID");

            if ('.qtd-est' > 0) {

            }


        }


    </script>



