
.vs/config/applicationhost.config
.vs/EraFeira/v15/Server/sqlite3/storage.ide-shm
.vs/EraFeira/v15/Server/sqlite3/storage.ide-wal
EraFeira/obj/Debug/EraFeira.csproj.CoreCompileInputs.cache
EraFeira/obj/Debug/EraFeira.csprojAssemblyReference.cache
EraFeira/Web.config
