.car-section {
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 200px;
}

aside {
    width: 80px;
    position: fixed;
    right: 0;
    margin-top: 200px;
}

.container {
   
}

.testandoo {
    width: 80%;
}

.car-aside-text {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 17px;
    color: #000000;
    margin-left: 10px;
    margin-top: 10px;
}

.car-just-color {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 17px;
    color: #FF9124;
}

.car-background-aside {
    display: inline-block;
    margin-top: 10px;
    width: 70px;
    height: 25px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 13px;
    color: #000000;
    background-color: #F5F5F5;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.car-titulos {
    margin-top: 50px;
    text-align-last: center;
    margin-bottom: 50px;
}

.car-h1 {
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}

.car-diferente {
    font-family: 'Poppins';
    font-size: 30px;
    font-weight: 600;
}

.car-input {
    font-weight: 500;
    font-size: 19px;
    display: inline-block;
    margin-top: 30px;
    height: 40px;
    width: 300px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    border-bottom: 2px solid #FF9124;
}


.bloco-imagem-cinza {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background-color: #F5F5F5;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.size-img {
    width: 80%;
}

.car-h2 {
    font-family: 'Poppins';
    padding-top: 18px;
    font-size: 17px;
    font-weight: 500;
    text-align: center;
    color: #646464;
    font-weight: 600;
}

.car-preco {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #FF9124;
}

/*.car-setas {
    position: absolute;
    width: 90px;
    height: 30px;
    margin-top: 50px;
    margin-left: 30px;
}*/

.car-seta-tamanho {
    width: 20px;
    display: inline-block;
    outline: none;
}

.spacing {
    margin-bottom: 40px;
}

.car-quantidade {
    font-family: 'Poppins';
    font-size: 19px;
    font-weight: 600;
    /*margin-top: 1px;*/
    padding: 5px;
    text-align: center;
}
body {
}
#bot{
    max-width: 900px;
    height: 300px;
    

}
.btn-next-bask {
    margin-right: 50px;
    border-radius: 30px;
    padding: 10px;
    color: white;
    background: #FF9124;
    position: relative;
    top: 10px;
    left: 75px;
    text-decoration: none;
    transition: all .30s ease-in-out;
}
.btn-return-bask {
    margin-right: 50px;
    border-radius: 30px;
    padding: 10px;
    color: white;
    background: #FF9124;
    position: relative;
    top: 10px;
    left: 75px;
    text-decoration: none;
    transition: all .30s ease-in-out;
}
    .btn-return-bask:hover {
        color: white;
        cursor: pointer;
        background-color: #ff7f00;
        text-decoration: none;
    }
    .btn-next-bask:hover {
        color: white;
        cursor: pointer;
        background-color: #ff7f00;
   
        text-decoration: none;
    }
.btn-next-bask-fim {
    margin-right: 50px;
    border-radius: 50px;
    padding: 10px 30px 10px 30px;
    display:none;
    color: white;
    background: #262626;
    position: relative;
    top: 10px;
    left: 75px;
   
    text-decoration: none;
    transition: all .30s ease-in-out;
   
}

.colorized{
    color:green;
}
    .btn-next-bask-fim:hover {
        color: white;
        cursor: pointer;
        background-color: #181818;
        text-decoration: none;
    }
 

    .bask-num {
        text-align: center;
    }
.pers{
    max-width: 900px;
    
    margin: 0 auto;
    margin-top: 30px;
}