.cid-bloco {
    max-width: 900px;
    height: 423px;
    background-color: none;
    margin: 0 auto;
}

.cid-titulos {
    max-width: 500px;
    margin-left: 100px;
    margin-top: 90px;
}

.cid-h1 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 35px;
}

.cid-h2 {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 25px;
}

.cid-escolha {
    max-width: 500px;
    margin-left: 100px;
}

.cid-escolha-button {
    text-align: center;
    border: 1px solid rgb(233, 233, 233);
    background-color: #FAFAFA;
    border-radius: 500px;
    width: 150px;
    height: 35px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    margin-right: 13px;
    cursor: pointer;
    margin-top: 30px;
}

.cid-bloco2 {
    max-width: 500px;
    margin-left: 100px;
    margin-top: 20px;
}

.cid-next {
    font-family: 'Poppins';
    font-weight:500;
    font-size: 15px;
    text-align: center;
    background-color: #FAFAFA;
    width: 150px;
    height: 35px;
    border-radius: 2px;
    margin-top: 30px;
    border: 1px solid #F96714;
    color: #F96714;
    cursor: pointer;
}

.cid-h3 {
    padding-top: 20px;
    color: #838383;
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
}