body{
    background-color: #FDFFEF;
}


/*menu lateral*/
.menu-lateral{
    width: 300px;
    height: 100%;
    position: absolute;
    background-color: #262626;
    text-decoration: none;
    margin-top: 0px !important;
}

/*titulo/logo - EraFeira*/
.titulo-menu {
    font-family: 'Josefin Sans';
    font-size: 37px;
    color: #F96714;
    font-weight: 700;
    margin-left: 70px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.titulo-menu:hover{
    text-decoration: none;
    color: #F96714;
}

.adm-menu{
    font-family: 'Josefin Sans';
    font-size: 22px;
    font-weight: 700;
    background-color: #262626;
    border-color: #2E2E2E;
    width: 300px;
    color: #FFFFFF;
    box-shadow: none;
}

.adm-menu:hover{
    background-color: #1D1C1C;
    border-color: #1D1C1C;
    color: #FFFFFF;
    box-shadow: none;
}

.adm-submenu{
    width: 250px;
   background-color: #262626;
}

.adm-link {
    font-family: 'Josefin Sans';
    font-size: 17px;
    font-weight: 400;
    background-color: #262626;
    border-color: #2E2E2E;
    color: #FFFFFF;
}

    .adm-link:hover {
        background-color: #1D1C1C;
        border-color: #1D1C1C;
        color: #FFFFFF;
        box-shadow: none;
    }


/*conteúdo do body*/ 
.corpo{
    margin-left: 300px;
}

/*caixa*/
.adm-caixa1 {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    width: 300px;
    height: 200px;
    border: 1px solid #262626;
    margin-left: 80px;
    
}


.caixa2 {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    width: 300px;
    height: 200px;
    margin-left: 470px;
    border: 1px solid #262626;
   margin-top: -50px;
   padding-top: 15px;
}

.circulo1{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid #1D1C1C;
    margin-left: 650px;
    margin-top: 90px;
}

.adm-c1{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    color: #1D1C1C;
    margin-left: 675px;
    margin-top: -50px;
    
}

.circulo2 {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid #1D1C1C;
    margin-left: 650px;
    background-color: green;
}

.adm-c2 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    color: #1D1C1C;
    margin-left: 675px;
    margin-top: -50px;
}

.circulo3 {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid #1D1C1C;
    margin-left: 650px;
}

.adm-c3 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    color: #1D1C1C;
    margin-left: 675px;
    margin-top: -50px;
}

