

.end-center{

    max-width: 500px;
    height: 700px;
    border: 2px solid red;
    margin: 0 auto;
    background-color: #fefefe;
    border: 1px solid #eaeaea;
}
.end-h1 {
    color: #FF9124;
    font-weight: 600;
    font-size: 21px;
    text-align: center;
    padding-top: 11px;
}
.end-input{
    border: 1px solid #c8c8c8;
    border-radius: 1px;
    width: 60%;
    margin: 0 auto;
    height: 35px;
    
}
.end-label{
    margin-left: 85px;
    padding-top: 8px;
    padding-bottom: 5px;
    font-weight: 600;
}
.end-botao {
    width: 200px;
    height: 40px;
    color: white;
    background-color: #FF9124;
    border-radius: 1px;
    border: none;
    font-weight: 600;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}