.ent-bloco {
    max-width: 900px;
    height: 550px;
    background-color: none;
    margin: 0 auto;
}

.ent-titulos {
    max-width: 500px;
    margin-left: 100px;
    margin-top: 50px;
}

.ent-h1 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 24px;
}

.ent-h2 {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    color: rgb(114, 114, 114);
}

.ent-entregas {
    max-width: 500px;
    margin-left: 100px;
    margin-top: 10px;
}

.ent-entregas-button {
    text-align: center;
    background-color: #FAFAFA;
    border-radius: 500px;
    width: 40px;
    height: 40px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    margin-right: 13px;
    /*cursor: pointer;*/
    margin-top: 10px;
}


.input-size {
    text-align: center;
    border: 1px solid rgb(233, 233, 233);
    background-color: #FAFAFA;
    border-radius: 500px;
    width: 200px;
    height: 30px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    margin-right: 13px;
    /*cursor: pointer;*/
    margin-top: 10px;
}
 
.ent-next {
    max-width: 300px;
    margin-left: 120px;
    margin-top: 40px;
    text-align: center;
}

.ent-button {
    color: #262626;
    font-weight: 500;
    font-size: 20px;
    display: inline-block;
    padding-top: 10px;
    transition: all .30s ease-in-out;
}

    .ent-button:hover {
        color: #F96714;
        font-weight: 500;
        font-size: 20px;
        display: inline-block;
        padding-top: 15px;
        text-decoration: none;
    }

.orange-line {
    width: 200px;
    height: 3px;
    background-color: #F96714;
    border-radius: 50px;
    margin: 0 auto;
    margin-top: 5px;
}