* {
    font-family: 'Poppins';
}

/*Cabeçalho/menu*/
/*Bannner + botao*/

.shadow-in {
    width: 100%;
    height: 500px;
    background-color: rgba(64,64,64,0.2);
    display: block;
}

.cover {
    width: 100%;
    height: 500px;
    background-image: url('../Imagens/cozinhando3.jpg');
    background-size: cover;
    background-position: center;
}

.slogan {
    min-width: 400px;
    height: 250px;
    background-color: none;
    margin: 0 auto;
    position: relative;
    top: 120px;
}

.slogan, p {
    font-size: 40px;
    text-align: center;
    font-weight: 500;
    color: white;
    margin-bottom: 30px;
}

.Start-now {
    padding: 15px 25px 15px 25px;
    background-color: #FF7222;
    color: white;
    font-size: 20px;
    font-weight: 500;
   
}

    .Start-now:hover {
        text-decoration: none;
        color: white;
    }

/*body*/
/*primeira parte - Guia da cesta*/

.cont-ainer {
    max-width: 960px;
    height: 800px;
    margin: 0 auto;
    background-color: none;
}

.text-div {
    background-color: none;
    width: 400px;
    height: 200px;
    margin: 0px auto;
}

.title-h1 {
    text-align: center;
    position: relative;
    top: 20px;
    font-weight: 700;
    padding-top: 40px;
}

.top-orange {
    width: 100px;
    margin: 0 auto;
    border: 1px solid #FF9124;
    position: relative;
    top: 50px;
}

.bottom-orange {
    width: 100px;
    margin: 0 auto;
    border: 1px solid #FF9124;
    position: relative;
    top: 25px;
}


.text-block {
    padding-bottom: 30px;
    padding-top: 30px;
    margin-top: 75px;
    background-color: none;
}

.text-block-2 {
    padding-bottom: 30px;
    padding-top: 30px;
    margin-top: 100px;
    background-color: none;
}

.title-h2 {
    text-align: center;
    position: relative;
    top: 0px;
    font-weight: 700;
}

.top-orange-2 {
    width: 320px;
    margin: 0 auto;
    border: 1px solid #FF9124;
    position: relative;
    top: -20px;
}

.bottom-orange-2 {
    width: 320px;
    margin: 0 auto;
    border: 1px solid #FF9124;
    position: relative;
    top: 15px;
}

.cover-2 {
    width: 100%;
    height: 200px;
    background-image: url('../Imagens/cecilia-rodriguez-suarez-ZWL0e5X7SB0-unsplash.jpg');
    background-size: cover;
    background-position: center;
    z-index: -9999;
}

.footer-suporte {
    width: 100%;
    height: 200px;
    background-color: rgba(26,26,26,0.9);
    margin-top: 250px;
    transition: ease-in-out .30s;
}

    .footer-suporte:hover {
        background-color: rgba(26,26,26,0.9);
    }

.text-block-cesta {
    margin: 0 auto;
    width: 270px;
    height: 50px;
    position: relative;
    top: 70px;
    border: 5px solid white;
    border-right: none;
    border-left: none;
    border-top: none;
    border-radius: 5px;
    transition: ease-in-out .30s;
}

    .text-block-cesta:hover {
        width: 290px;
    }

.monte-cesta-btn {
    font-weight: 600;
    font-size: 30px;
    color: #FF7222;
}

    .monte-cesta-btn:hover {
        text-decoration: none;
        color: #FF7222;
    }
