/*titulo*/
.rcp-h1 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 25px;
    color: #585858;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;
}
/*começo - introdução*/
.rcp-valor{
    font-family: 'Poppins';
    font-size: 27px;
    font-weight: 700;
    color: #F96714;
    margin-left: 245px;
}

.rcp-preco{
    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 600;
    color: #2B2B2B;
    margin-left: 20px;
}

.rcp-entrega{
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
    color: #2b2b2b;
    margin-left: 245px;
    margin-top: 10px;
}

.rcp-data-entrega{
    font-family: 'Poppins';
    font-size: 24px;
    font-weight: 500;
    color: #2b2b2b;
    margin-left: 245px;
    margin-top: 10px;
}

.rcp-data-entrega1{
    font-family: 'Poppins';
    font-size: 25px;
    font-weight: 600;
    color: #2b2b2b;
    text-decoration: underline;
}

/*itens da lista*/
.rcp-quadrado{
    width: 850px;
    height: 550px;
    background-color: #fcfcfc;
    border: 1px solid #cecece;
    border-radius: 25px;
    margin-left: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/*canto direito*/
/*icone bdo circulo laranja*/
.rcp-canto-direito {
    margin-top: 20px;
    margin-left: 650px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 700;
    color: #a8a8a8;
}

/*titulo*/
.rcp-h2 {
    font-family: 'Poppins';
    font-size: 27px;
    font-weight: 700;
    color: #6A6767;
    text-align: center;
    margin-top: 10px;
}