body {
}


.size{
    margin: 0;
}
.rcp-main {
    text-align: center;
    max-width: 800px;
    height: 500px;
    
    margin: 0 auto;
}

.rcp-summary {
    max-width: 700px;
   
   
    margin: 0 auto;
}

.rcp-h1 {
    color: #585858;
    font-size: 20px;
    font-weight: 600;
    margin-top: 20px;
    padding-bottom: 20px;
}
.rcp-h2 {
    color: #6A6767;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 30px;
    padding-top: 20px;
    
}
.rcp-descri {
    color: #292929;
    font-size: 17px;
    font-weight: 600;
}
.rcp-text-val {
    color: #FF9124;
    font-size: 20px;
    text-align: left;
    font-weight:700;
}
#rcp-total-basket {
    color: #2B2B2B;
    font-weight: 600;
}
.rcp-text {
    color: black;
    font-size: 20px;
    text-align: left;
}
.rcp-text-qt {
    font-size: 17px;
    font-weight: 700;
    color: #3B3B3B;
    text-align: left;
}
.rcp-qt-basket {
    color:#3B3B3B;
    font-size: 15px;
    font-weight: 600;
}
.rcp-text-date {
    text-align: left;
    color: #292929;
    font-weight: 600;
    font-size: 17px;
}
#rcp-first-delivery{
    text-decoration: underline;
    font-weight: 700;
}
.rcp-image-gray {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background-color: #F5F5F5;
    margin: 0px auto ;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rcp-text-prod {
    color: black;
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    color: #FF9124;
    padding: 0;
    margin: 0;
    
    margin-top: 10px;
}
.rcp-qt {
    color: #3B3B3B;
    font-size: 17px;
    font-weight: 700;
}
.rcp-input-end {
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FF9124;
    color: white;
    text-decoration: none;
    position: relative;
    top: 60px;
    border-radius: 1px;
    font-size: 13px;
    transition: .30s ease-in-out;
}
    .rcp-input-end:hover {
        text-decoration: none;
        background-color: #212121;
        opacity: 0.8;
        color: white;
    }
