@model EraFeira.Models.Usu_usuario

@{
    ViewBag.Title = "Agradecimento";
    Layout = "~/Views/Shared/_LayoutPage4.cshtml";
}

<link rel="stylesheet" href="~/Content/Agradicimento.css" />


<div class="ag-center">

    <h1 class="ag-h1"> Muito obrigado pela compra!</h1>
    <p class="ag-p">
        Confira nosso <span class="ag-u">blog</span> enquanto<br />
        espera sua cesta!
    </p>
    <div class="ag-orange"></div>
    <img class="img-edit" src="~/Imagens/Cesta-agua.png" />


</div>

