
@{
    ViewBag.Title = "AreaUsuario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/AreaUsuario.css" rel="stylesheet" />
<div class="as-bloco">

    <h1 class="as-h1">Vamos começar</h1>

    <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" viewBox="0 0 602.46 602.459">
        <g transform="translate(3.5 3.5)" fill="none" stroke="#ff9124" stroke-width="7">
            <path data-name="Path 13" d="M313.132 287.463h-30.8a10.268 10.268 0 0 1-10.27-10.263V10.267A10.268 10.268 0 0 1 282.332 0h30.8a10.268 10.268 0 0 1 10.267 10.267V277.2a10.267 10.267 0 0 1-10.267 10.263z" />
            <path data-name="Path 14" d="M10.267 277.197l22.065 299.239a20.533 20.533 0 0 0 20.476 19.023H542.65a20.536 20.536 0 0 0 20.478-19.024l22.065-299.239H10.267zm92.4 277.2a10.267 10.267 0 1 1-20.534 0v-215.6a10.267 10.267 0 1 1 20.534 0zm51.333 0a10.267 10.267 0 1 1-20.534 0v-215.6a10.267 10.267 0 1 1 20.534 0zm51.333 0a10.267 10.267 0 1 1-20.534 0v-215.6a10.267 10.267 0 1 1 20.534 0zm51.333 0a10.267 10.267 0 1 1-20.534 0v-215.6a10.267 10.267 0 1 1 20.534 0zm51.333 0a10.267 10.267 0 1 1-20.534 0v-215.6a10.267 10.267 0 1 1 20.534 0zm51.333 0a10.267 10.267 0 1 1-20.534 0v-215.6a10.267 10.267 0 1 1 20.534 0zm51.332 0a10.267 10.267 0 1 1-20.534 0v-215.6a10.267 10.267 0 1 1 20.534 0zm51.333 0a10.267 10.267 0 1 1-20.534 0v-215.6a10.267 10.267 0 1 1 20.534 0zm51.333 0a10.267 10.267 0 1 1-20.534 0v-215.6a10.267 10.267 0 0 1 20.534 0z" />
            <path data-name="Path 15" d="M582.921 307.997l2.271-30.8H10.267l2.271 30.8z" />
            <path data-name="Path 16" d="M585.192 287.463H10.267A10.268 10.268 0 0 1 0 277.196V236.13a10.268 10.268 0 0 1 10.267-10.267h574.926a10.268 10.268 0 0 1 10.267 10.267v41.066a10.269 10.269 0 0 1-10.268 10.267z" />
            <circle data-name="Ellipse 89" cx="15.399" cy="15.399" r="15.399" transform="translate(282.33 241.264)" />
        </g>
    </svg>

    <div class="as-linha-laranja">
        <h2 class="as-h2"> Clique na cesta </h2>
        <div class="as-orange-line"></div>
    </div>

    <div class="as-icons">
        <div class="as-icon-place">
            <img class="as-icon-size" src="~/Imagens/MacaOutlined.png" />
        </div>
        <div class="as-icon-place">
            <img class="as-icon-size" src="~/Imagens/LimaoOutlined.png" />
        </div>
        <div class="as-icon-place">
            <img class="as-icon-size" src="~/Imagens/SalsinhaOutlined.png" />
        </div>
        <div class="as-icon-place">
            <img class="as-icon-size" src="~/Imagens/CenouraOutlined.png" />
        </div>
        <div class="as-icon-place">
            <img class="as-icon-size" src="~/Imagens/PimentaoOutlined.png" />
        </div>
    </div>

</div>

