
@{
    ViewBag.Title = "Cidade";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<link href="~/Content/Cidade.css" rel="stylesheet" />
<section class="cid-bloco">

    <h1 class="cid-title-1"> Olá!, Por enquanto Era Feira so está disponível nas sequintes localidades </h1>

    <div class="cid-block-center">
        <div class="block-cidade-orange">
            <h2 class="cid-title-2"> Guaratinguetá </h2>
            <div class="cid-orange-line-1"></div>
        </div>
        <div class="block-cidade-orange">
            <h3 class="cid-title-2"> Lorena </h3>
            <div class="cid-orange-line-1"></div>
        </div>

        @Html.ActionLink("Desejo Continuar", "Create", "End_enderecos", new { area = "" }, new { @class = "cid-entregas" })

    </div>

    <div class="cid-entenda-block">
        <h4 class="cid-entenda-text"> Entenda o por quê </h4>
        <div class="cid-orange-line-2"></div>
    </div>

</section>



