
@{
    ViewBag.Title = "Cidade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Cidade.css" rel="stylesheet" />
<section class="cid-bloco">

    <div class="cid-titulos">
        <h1 class="cid-h1"> De onde você é? </h1>
        <h2 class="cid-h2"> Escolha uma das cidades Abaixo</h2>
    </div>

    <div class="cid-escolha">
        <input class="cid-escolha-button" type="submit" value="Guaratinguetá">
        <input class="cid-escolha-button" type="submit" value="Aparecida">
        <input class="cid-escolha-button" type="submit" value="Lorena">
    </div>

    <div class="cid-bloco2">
        <input class="cid-next btn" type="submit" value="Continuar">
        <h3 class="cid-h3"> Logo estaremos em sua cidade!</h3>
    </div>

</section>



