
@{
    ViewBag.Title = "Entregas";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<link href="~/Content/Entregas.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<section class="ent-bloco">

    <div class="ent-titulos">
        <h1 class="ent-h1 "> Quantas Entregas? </h1>
        <h2 class="ent-h2"> Escolha apenas uma opção</h2>
    </div>
    
    <div class="ent-entregas">

        <div style="display: inline-block">
            <label>

                <input type="radio" value="1" required name="QtdEntregas" funcao="qtdEntregas" class="card-input-element" />
                <div id="hidesame" class="card-input r">
                    <p class="btn-size">
                        1
                    </p>
                </div>
            </label>

            <label>
                <!-- v-on:click="typeChange()"-->
                <input type="radio" value="2" required name="QtdEntregas" funcao="qtdEntregas" class="card-input-element" />
                <div class="card-input exc r">
                    <p class="btn-size">
                        2
                    </p>
                </div>
            </label>
            <label>
                <!-- v-on:click="typeChange()"-->
                <input type="radio" value="3" required name="QtdEntregas" funcao="qtdEntregas" class="card-input-element exc" />
                <div class="card-input exc r">
                    <p class="btn-size">
                        3
                    </p>
                </div>
            </label>
            <label>
                <!-- v-on:click="typeChange()"-->
                <input type="radio" value="4" required name="QtdEntregas" funcao="qtdEntregas" class="card-input-element exc" />
                <div class="card-input exc r">
                    <p class="btn-size">
                        4
                    </p>
                </div>
            </label>
        </div>


    </div>

    <div class="ent-titulos">
        <h1 class="ent-h1">Qual intervalo entre as entregas?</h1>
        <h2 class="ent-h2">Escolha apenas uma opção</h2>
    </div>

    <div class="ent-entregas">
        <div style="display: inline-block">
            <label>

                <input type="radio" value="7" required name="TempEntregas" funcao="tempEntregas" class="card-input-element" />
                <div class="card-input">
                    <p class="btn-size">
                        7
                    </p>
                </div>
            </label>

            <label>
                <!-- v-on:click="typeChange()"-->
                <input type="radio" value="10" required name="TempEntregas" funcao="tempEntregas" class="card-input-element" />
                <div class="card-input exc">
                    <p class="btn-size">
                        10
                    </p>
                </div>
            </label>
            <label>
                <!-- v-on:click="typeChange()"-->
                <input type="radio" value="13" required name="TempEntregas" funcao="tempEntregas" class="card-input-element" />
                <div class="card-input exc">
                    <p class="btn-size">
                        13
                    </p>
                </div>
            </label>
      
        </div>
    </div>

    <div class="ent-titulos">
        <h1 class="ent-h1">Deseja todas cestas iguais?</h1>
        <h2 class="ent-h2">Caso tenha escolhido duas cestas ou mais <br> você pode escolher cestas diferentes</h2>
    </div>

    <div class="ent-entregas">
        <div style="display: inline-block">
            <label>

                <input type="radio" value="CestasIguais" required name="3" funcao="isCestasIguais" class="card-input-element" />
                <div class="card-input sizingbox">
                    <p class="btn-size sizingbox-text">
                       Cestas Iguais
                    </p>
                </div>
            </label>

            <label>
                <!-- v-on:click="typeChange()"-->
                <input type="radio"  value="CestasDiferentes" required name="3" funcao="isCestasIguais" class="card-input-element" />
                <div class="card-input exc sizingbox" id="differ">
                    <p class="btn-size sizingbox-text">
                       Cestas Diferentes
                    </p>
                </div>
            </label>
        

        </div>
    </div>

    <div class="ent-next">
        @Html.ActionLink("Comece a montar sua cesta!", "Carrinho", "Usu_usuarios", new { area = "" }, new { @class = "ent-button" })
        
    </div>


</section>
<script>



    // permite ao usuário ir para o carrinho somente com 3 alternativas selecionadas
    $(".ent-button").click(function (e) {
        var i = 0;

        $('input[type=radio]:checked').each(function () {
            i++;
        })

        if (i < 3) {
            alert(" selecione pelo menos uma opção de cada seção")
            e.preventDefault()
        } 

});

    
</script>
<script>

    var qtdEntregas;
    var tempEntregas;
    var isCestasIguais;

  // Limpar cookies

    if (getCookie('CarrinhoCookie1') != null) {
        document.cookie = "CarrinhoCookie1 = ; expires = Thu, 01 Jan 1970 00:00:00 GMT"
        document.cookie = "CarrinhoCookie2 = ; expires = Thu, 01 Jan 1970 00:00:00 GMT"
        document.cookie = "CarrinhoCookie3 = ; expires = Thu, 01 Jan 1970 00:00:00 GMT"
        document.cookie = "CarrinhoCookie4 = ; expires = Thu, 01 Jan 1970 00:00:00 GMT"
        document.cookie = "configCestas = ; expires = Thu, 01 Jan 1970 00:00:00 GMT"
       
    }
    //$.removeCookie('CarrinhoCookie1', { path: '/' });
    //$.removeCookie('CarrinhoCookie2', { path: '/' });
    //$.removeCookie('CarrinhoCookie3', { path: '/' });
    //$.removeCookie('CarrinhoCookie4', { path: '/' });

   // se o usuario escolher apenas uma entrega a opcao de cestas diferentes desaparece
    $(".r").each(function () {
        $(".r").click(function () {
           
                if (this.id == "hidesame") {

                      $("#differ").hide()

                } else {

                      $("#differ").show()
            }

        })
       

    })

    // get gookie func
     function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }
   
  
     //cookie config cestas

    $(".card-input-element").click(function () {

       
        if ($(this).attr("funcao") == "qtdEntregas") {

            qtdEntregas = $(this).attr("value");


        } else if ($(this).attr("funcao") == "tempEntregas") {
            tempEntregas = $(this).attr("value");
        }
    });

    $(".card-input-element").click(function () {
        if ($(this).attr("funcao") == "isCestasIguais") {
            var valor = $(this).attr("value");
            if (valor == "CestasIguais") {
                isCestasIguais = true;
            } else {
                isCestasIguais = false;

            }
        }
    });

    $(".ent-next").click(function () {

        var config = [];

        config[0] = qtdEntregas;
        config[1] = tempEntregas;
        config[2] = isCestasIguais;
           
        

        document.cookie = "configCestas = " + JSON.stringify(config);
    });

     // seleciona apenas um checkbox

    


</script>