
@{
    ViewBag.Title = "Entregas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/Entregas.css" rel="stylesheet" />
<section class="ent-bloco">

    <div class="ent-titulos">
        <h1 class="ent-h1"> Quantas Entregas? </h1>
        <h2 class="ent-h2"> Escolha apenas uma opção</h2>
    </div>

    <div class="ent-entregas">
        <input class="ent-entregas-button" type="submit" value="1">
        <input class="ent-entregas-button" type="submit" value="2">
        <input class="ent-entregas-button" type="submit" value="3">
        <input class="ent-entregas-button" type="submit" value="4">
    </div>

    <div class="ent-titulos">
        <h1 class="ent-h1">Qual intervalo entre as entregas?</h1>
        <h2 class="ent-h2">Escolha apenas uma opção</h2>
    </div>

    <div class="ent-entregas">
        <button class="ent-entregas-button">7</button>
        <input class="ent-entregas-button" type="submit" value="10">
        <input class="ent-entregas-button" type="submit" value="13">
    </div>

    <div class="ent-titulos">
        <h1 class="ent-h1">Deseja todas cestas iguais?</h1>
        <h2 class="ent-h2">Caso tenha escolhido duas cestas ou mais <br> você pode escolher cestas diferentes</h2>
    </div>

    <div class="ent-entregas">
        <input class="input-size" type="submit" value="Cesta iguais">
        <input class="input-size" type="submit" value="Cestas diferentes">
    </div>

    <div class="ent-next">
        <a class="ent-button" href=""> Comece a montar sua cesta!</a>
        <div class="orange-line"></div>
    </div>


</section>

<script>


</script>