
@{
    ViewBag.Title = "Entregas";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}
<link href="~/Content/EntregasNovo.css" rel="stylesheet" />
<section class="ent-bloco">

    <div class="ent-titulos">
        <h1 class="ent-h1 "> Quantas Entregas? </h1>
        <h2 class="ent-h2"> Escolha apenas uma opção</h2>
    </div>
    
    <div class="ent-entregas">

        <div style="display: inline-block">
            <label>

                <input type="radio" value="type" name="tipoCasa" class="card-input-element" />
                <div class="card-input">
                    <p class="btn-size">
                        1
                    </p>
                </div>
            </label>

            <label>
                <!--                                            v-on:click="typeChange()"-->
                <input type="radio" value="type2" name="tipoCasa" class="card-input-element" />
                <div class="card-input">
                    <p class="btn-size">
                        2
                    </p>
                </div>
            </label>
        </div>

        <input  class="ent-entregas-button clicked" type="submit" funcao="qtdEntregas" value="1">
        <input  class="ent-entregas-button clicked" type="submit" funcao="qtdEntregas" value="2">
        <input class="ent-entregas-button  clicked" type="submit" funcao="qtdEntregas" value="3">
        <input  class="ent-entregas-button clicked" type="submit" funcao="qtdEntregas" value="4">

    </div>

    <div class="ent-titulos">
        <h1 class="ent-h1">Qual intervalo entre as entregas?</h1>
        <h2 class="ent-h2">Escolha apenas uma opção</h2>
    </div>

    <div class="ent-entregas">
        <input  class="ent-entregas-button clicked" type="submit" funcao="tempEntregas" value="7">
        <input  class="ent-entregas-button clicked" type="submit" funcao="tempEntregas" value="10">
        <input  class="ent-entregas-button clicked" type="submit" funcao="tempEntregas" value="13">
    </div>

    <div class="ent-titulos">
        <h1 class="ent-h1">Deseja todas cestas iguais?</h1>
        <h2 class="ent-h2">Caso tenha escolhido duas cestas ou mais <br> você pode escolher cestas diferentes</h2>
    </div>

    <div class="ent-entregas">
        <input class="input-size clicked" type="submit" funcao="isCestasIguais" value="Cesta iguais">
        <input class="input-size clicked" type="submit" funcao="isCestasIguais" value="Cestas diferentes">
    </div>

    <div class="ent-next">
        @Html.ActionLink("Comece a montar sua cesta!", "Carrinho", "Usu_usuarios", new { area = "" }, new { @class = "ent-button" })
        <div class="orange-line"></div>
    </div>


</section>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>

<script>
    $("input[name='a']").change(function(){
    alert($(this).val());
});

    

   
  

    
    //$(".clicked").click(function () {

    //    $(this).toggleClass("active")
    //})


    $(".clicked").click(function() {$(this).toggleClass("active")})

</script>
<script>

    var qtdEntregas;
    var tempEntregas;
    var isCestasIguais;

    $(".ent-entregas-button").click(function () {

        if ($(this).attr("funcao") == "qtdEntregas") {

            qtdEntregas = $(this).attr("value");


        } else if ($(this).attr("funcao") == "tempEntregas") {
            tempEntregas = $(this).attr("value");
        }
    });

    $(".input-size").click(function () {
        if ($(this).attr("funcao") == "isCestasIguais") {
            var valor = $(this).attr("value");
            if (valor == "Cesta iguais") {
                isCestasIguais = true;
            } else {
                isCestasIguais = false;

            }
        }
    });

    $(".ent-next").click(function () {

        var config = {
            numEntregas: qtdEntregas,
            tempEntregas: tempEntregas,
            cestasIguais: isCestasIguais
        }

        document.cookie = "configCestas = " + JSON.stringify(config);
    });

     // seleciona apenas um checkbox

    


</script>