@model EraFeira.Models.Fdp_forma_pagamento

@{
    ViewBag.Title = "Pagamento";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<link rel="stylesheet" href="~/Content/Pagamento.css">

<div class="pag-section">


    <div class="pag-summary">

        <h1 class="pag-summary-h1"> Resumo </h1>

        
        <div class="row border resi">

            <div class="col-lg-4">

                <h2 class="pag-summary-h2"> total Cesta(s) </h2>
            </div>
            <div class="col-lg-4">

                <div class="pag-orange-summary"></div>
            </div>
            <div class="col-lg-4">

               <p class="pag-standard-text"> 64,90<br /> 3 cestas Mensais <br /> Frete incluso no valor total</p>
            </div>
        </div>

    </div>
    

</div>
