
@{
    ViewBag.Title = "ResumoCompletoPedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ResumoCompletoPedido.css" rel="stylesheet" />
<h1 class="rcp-h1">Resumo Completo do Pedido</h1>
<section>
    <div id="valor" class="rcp-valor"><span class="rcp-preco"></span></div>
    <br />
    <div id="tempo" class="rcp-entrega" value="Tempo"></div>
    <br />
    <div id="data" class="rcp-data-entrega"><span class="rcp-data-entrega1"></span></div>
    <br />
</section>
<br />
<div class="form-horizontal">
    <section>
        <div class="rcp-canto-direito"><img src="~/Imagens/circulo-laranja.png" />Quantidade</div>
        <br />
        <h2 class="rcp-h2">Itens da cesta</h2>
        <ul id="cesta1"> </ul>
        <br />
        <ul id="cesta2"> </ul>
        <br />
        <ul id="cesta3"> </ul>
        <br />
        <ul id="cesta4"> </ul>

        <a class="btn btn-primary" id="btnfinalizar">Confirmar</a>
        <br /><br />

    </section>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>

    $(document).ready(function () {
        Ler2("ConfigCesta1");
        Ler2("ConfigCesta2");
        Ler2("ConfigCesta3");
    });
    
    $(document).ready(function () {
        Ler("CarrinhoCookie1");
        Ler("CarrinhoCookie2");
        Ler("CarrinhoCookie3");
        Ler("CarrinhoCookie4");
    });

   
    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    //function getCookie(nome) {
    //    var vnome = nome + "=";
    //    var b = document.cookie1.split(';');
    //    for (var y = 0; y < b.length; b++) {
    //        var v = b[y];
    //        while (v.charAt(0) == ' ') {
    //            v = v.substring(1);
    //        }
    //        if (v.indexOf(vnome) == 0) {
    //            return v.substring(vnome.length, v.length);
    //        }
    //    }
    //    return "";
    //}

    function Ler(nomeCookie) {
        if (getCookie(nomeCookie) != null) {
            var cookie = getCookie(nomeCookie);
            var oi = JSON.parse(cookie);
            var dados = [];
            var produto = {};
          
            for (var i = 1; i <= oi.length; i++) {
                var separa = [];
                var a = oi[i];
                if (a != null || typeof a !== "undefined") {
                    separa = a.split("-");
                    switch (nomeCookie) {

                        case "CarrinhoCookie1":
                            $("#cesta1").append("<li>ID: " + separa[0] + " - Valor: " + separa[1] + " - Qtd: " + separa[2] + "</li>");
                            break;
                        case "CarrinhoCookie2":
                            $("#cesta2").append("<li>ID: " + separa[0] + " - Valor: " + separa[1] + " - Qtd: " + separa[2] + "</li>");
                            break;
                        case "CarrinhoCookie3":
                            $("#cesta3").append("<li>ID: " + separa[0] + " - Valor: " + separa[1] + " - Qtd: " + separa[2] + "</li>");
                            break;
                        case "CarrinhoCookie4":
                            $("#cesta4").append("<li>ID: " + separa[0] + " - Valor: " + separa[1] + " - Qtd: " + separa[2] + "</li>");
                            break;
                    }
                }
            }

        }
    }


    function Ler2(nameCookie) {
        if (getCookie(nameCookie) != null) {
            var cookie1 = getCookie(nameCookie);
            var x = JSON.parse(cookie1);

            for (var y = 0; y <= x.length; y++) {
                var ax = [];
                var w = ax[y];

                if (w != null || typeof w !== "undefined") {
                    ax = w.split("-");
                    switch (nameCookie) {
                        case "ConfigCesta1":
                            $("#valor").append("Valor " + ax[0]);
                            break;
                        case "ConfigCesta2":
                            $("#tempo").append(ax[1] + " entregas");
                            break;
                        case "ConfigCesta3":
                            $("#data").append("A primeira entrega será " + ax[2]);
                            break;
                    }
                }

            }
        }
    }


    $("#btnfinalizar").click(function () {
        var dados = [];
        var produto = {};
        var configs = {}
       

        if (getCookie("configCestas") != null) {
            var cookie1 = getCookie("configCestas");
            if (cookie1 != "") {
                var ax = JSON.parse(cookie1);
                    
                configs = {
                    QtdCesta: ax[0],
                    Tempo: ax[1],
                    TipoCesta: ax[2],

                }   
                
            }
        }

        var jsonText = JSON.stringify(configs);

          $.ajax({
            type: 'POST',
            url: 'CadastrarAssinatura',
            data: jsonText,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (r) {
                if (r.d == "não") {
                    alert("Houve um erro ao cadastrar!");
                } else {
                    alert("Produtos cadastrados com sucesso!");
                }
            }
        });

        if (getCookie("CarrinhoCookie1") != null) {
            var cookie = getCookie("CarrinhoCookie1");
            if (cookie != "") {
                var oi = JSON.parse(cookie);

                for (var i = 1; i <= oi.length; i++) {
                    var separa = [];
                    var a = oi[i];
                    if (a != null || typeof a !== "undefined") {
                        separa = a.split("-");
                        //isso
                        produto = {
                            id: separa[0],
                            valor: separa[1],
                            qtd: separa[2],
                            Total: separa[3],
                            nomeCestausu: $(".car-input").val(),
                            identificacao: "Cesta 1"
                        }
                        dados.push(produto);
                    }
                }
            }
        }

        if (getCookie("CarrinhoCookie2") != null) {
            var cookie = getCookie("CarrinhoCookie2");
            if (cookie != "") {
                var oi = JSON.parse(cookie);

                for (var i = 1; i <= oi.length; i++) {
                    var separa = [];
                    var a = oi[i];
                    if (a != null || typeof a !== "undefined") {
                        separa = a.split("-");
                        produto = {
                            id: separa[0],
                            valor: separa[1],
                            qtd: separa[2],
                            Total: separa[3],
                            nomeCestausu: $(".car-input").val(),
                            identificacao: "Cesta 2"
                        }
                        dados.push(produto);
                    }
                }
            }
        }

        if (getCookie("CarrinhoCookie3") != null) {
            var cookie = getCookie("CarrinhoCookie3");
            if (cookie != "") {
                var oi = JSON.parse(cookie);

                for (var i = 1; i <= oi.length; i++) {
                    var separa = [];
                    var a = oi[i];
                    if (a != null || typeof a !== "undefined") {
                        separa = a.split("-");
                        produto = {
                            id: separa[0],
                            valor: separa[1],
                            qtd: separa[2],
                             Total: separa[3],
                            nomeCestausu: $(".car-input").val(),
                            identificacao: "Cesta 3"
                        }
                        dados.push(produto);
                    }
                }
            }
        }

        if (getCookie("CarrinhoCookie4") != null) {
            var cookie = getCookie("CarrinhoCookie4");
            if (cookie != "") {
                var oi = JSON.parse(cookie);

                for (var i = 1; i <= oi.length; i++) {
                    var separa = [];
                    var a = oi[i];
                    if (a != null || typeof a !== "undefined") {
                        separa = a.split("-");
                        produto = {
                            id: separa[0],
                            valor: separa[1],
                            qtd: separa[2],
                            Total: separa[3],
                            nomeCestausu: $(".car-input").val(),
                            identificacao: "Cesta 4"
                        }
                        dados.push(produto);
                    }
                }
            }
        }

        var jsonText = JSON.stringify(dados);

        $.ajax({
            type: 'POST',
            url: 'CadastrarProdutos',
            data: jsonText,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (r) {
                if (r.d == "não") {
                    alert("Houve um erro ao cadastrar!");
                } else {
                    alert("Produtos cadastrados com sucesso!");
                }
            }
        });

    });



</script>