
@{
    ViewBag.Title = "ResumoCompletoPedido";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/ResumoCompletoPedido.css" rel="stylesheet" />
<h1 class="rcp-h1">Resumo Completo do Pedido</h1>

<label class="rcp-valor">Valor <span class="rcp-preco">R$ 64,90</span></label>
<br />
<label class="rcp-entrega">3 entregas mensais</label>
<br />
<label class="rcp-data-entrega">A primeira entrega do mês será <span class="rcp-data-entrega1">03/11/2019</span></label>
<br />

<section class="rcp-quadrado">
    <div class="rcp-canto-direito"><img src="~/Imagens/circulo-laranja.png" />Quantidade</div>
    <br />
    <h2 class="rcp-h2">Itens da cesta</h2>

</section>