
@{
    ViewBag.Title = "DashboardAdministrador";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div>

    <div class="adm-caixa1">
        <label class="adm-h1">Pedidos de Outubro</label>
        <img src="~/Imagens/cesta.png" />
    </div>

    <div class="caixa2">
        <label class="adm-h1">Pedidos de Novembro</label>
        <img src="~/Imagens/cesta.png" />
    </div>


    <br />
    <div class="circulo1"></div><label class="adm-c1">Últimas notícias</label>
    <div class="circulo2"></div><label class="adm-c2">Estoque</label>
    <div class="circulo3"></div><label class="adm-c3">Relatório mensal financeiro</label>

</div>