@{
    ViewBag.Title = "Home Page";
}

<link href = "~/Content/Home.css" rel = "stylesheet" />
<div>
    <section>
        <div class="cover">
            <div class="shadow-in">
                <div class="slogan">
                    <p> Conheça o serviço de entrega<br> mais inovador dos ultimos tempos </p>
                    @Html.ActionLink("Comece já", "Create", "Usu_usuarios", new { area = "" }, new { @class = "Start-now" })
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="cont-ainer test">
            <div class="text-div">
                <div class="top-orange"></div>
                <h1 class="title-h1"> Funciona assim: </h1>
                <div class="bottom-orange"></div>
            </div>
            <div class="row no-gutters">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="text-block">
                        <div class="top-orange-2"></div>
                        <h2 class="title-h2">Você clica na cesta </h2>
                        <div class="bottom-orange-2"></div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center">
                    <img class="img-responsive" width="60%" src="~/Imagens/Cesta-Unica.png" />
                </div>
            </div>

            <div class="row no-gutters flex-column-reverse flex-lg-row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center">
                    <img class="img-responsive" width="95%" src="~/Imagens/Erafeira-cesta-quantidade.png" />
                </div>

                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="text-block-2">
                        <div class="top-orange-2"></div>
                        <h2 class="title-h2">Escolhe os produtos<br>e a quantidade </h2>
                        <div class="bottom-orange-2"></div>
                    </div>
                </div>
            </div>

            <div class="row no-gutters">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                    <div class="text-block">
                        <div class="top-orange-2"></div>
                        <h2 class="title-h2">Escolhe a quantidade <br>de entregas no mês </h2>
                        <div class="bottom-orange-2"></div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 d-flex justify-content-center">
                    <img class="img-responsive" width="80%" src="~/Imagens/Erafeira-Numero-entregas.png" />
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="cover-2">
            <div class="footer-suporte">
                <div class="text-block-cesta">
                    @Html.ActionLink("Monte sua cesta!", "Create", "Usu_usuarios", new { area = "" }, new { @class = "monte-cesta-btn" })
                    <div class="white-underline"></div>
                </div>
            </div>
        </div>
    </section>
</div>