
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<link href="~/Content/Login.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <section class="form-login">
        <form>
            <h1 class="h1-login"> Realize o <span class="span-login">Login</span> </h1>

            <div class="form-block">
                <label class="label1"> Email </label><br>
                <input class="test inpu" type="text" name="email"><br>
                <label class="label1">Senha</label><br>
                <input class="test inpu" type="password" name="senha">
                @*<a class="esqueceu-senha" href=""> Esqueceu a senha? </a><br>*@
                @Html.ActionLink("Esqueceu a senha?", "EsqueceuSenha", "Usu_usuarios", new { area = "" }, new { @class = "esqueceu-senha" })
                <button class="Entrar" type="submit">Entrar</button>
                @*@Html.ActionLink("Entrar", "Login", "Home", new { area = "" }, new { @class = "Entrar" })*@

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            </div>
        </form>
    </section>
}

